.NavBar{
    height: 45px;
    background-color: darkcyan;
}

.left{
    display: flex;
    gap: 8px;
    margin-left: 10px;
    cursor: pointer;
}

.woulditwork{
    margin-top: 10px;
}

.right{
    display: flex;
    gap: 75vw;
}

.itworks{
    margin-top: 8px;
}

.leftflex{
    display: flex;
    gap: 5px
}